* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.octopus__desc-procent {
  display: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

.wrapper {
  height: 96%;
  min-height: 675px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.octopus {
  width: 1100px;
  height: 602px;
}

.octopus__head {
  background-image: -webkit-gradient(linear, left top, right top, from(#ffe4da), color-stop(#ffd8c9), color-stop(#ffccb8), color-stop(#ffbfa8), to(#ffb398));
  background-image: linear-gradient(to right, #ffe4da, #ffd8c9, #ffccb8, #ffbfa8, #ffb398);
  position: relative;
  width: 34%;
  height: 100%;
  display: inline-block;
  float: left;
  border-radius: 50% 0 0 50%;
}

.octopus__head:after {
  position: absolute;
  content: '';
  display: block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #000;
  top: 50px;
  right: 150px;
  animation: nev 7s infinite alternate-reverse;
}

.octopus__head:before {
  position: absolute;
  content: '';
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fff;
  right: 120px;
  top: 50px;
}

@-webkit-keyframes nev {
  0% {
    right: 150px;
    top: 50px;
  }

  20% {
    right: 190px;
    top: 80px;
  }

  50% {
    right: 170px;
    top: 120px;
  }

  100% {
    right: 130px;
    top: 80px;
  }
}

@keyframes nev {
  0% {
    right: 150px;
    top: 50px;
  }

  20% {
    right: 190px;
    top: 80px;
  }

  50% {
    right: 170px;
    top: 120px;
  }

  100% {
    right: 130px;
    top: 80px;
  }
}

.octopus__body {
  width: 65%;
  height: 100%;
  background-color: transparent;
  display: inline-block;
}

.octopus__item {
  border-radius: 0 50px 50px 0;
  position: relative;
  background-color: rgba(255, 255, 255, 0.06);
  margin-bottom: 10px;
  height: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 1px 1px 5px black, 0 0 1em rgba(0, 0, 0, 0.7);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.octopus__item .octopus__desc {
  z-index: 99;
  padding-left: 10px;
  text-shadow: 1px 1px 5px black, 0 0 1em rgba(0, 0, 0, 0.8);
}

.octopus__item:before {
  background-image: -webkit-gradient(linear, right top, left top, from(#e7372f), color-stop(#ef5e46), color-stop(#f67c5f), color-stop(#fb987a), to(#ffb398));
  background-image: linear-gradient(to left, #e7372f, #ef5e46, #f67c5f, #fb987a, #ffb398);
  border-radius: 0 50px 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-left: none;
  border-top: none;
  border-bottom: none;
  position: absolute;
  top: 20;
  text-align: right;
  content: '';
  width: 6%;
  height: 100%;
  background-color: transparent;
}

.octopus__item:after {
  top: 0;
  border-radius: 0 50px 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-left: none;
  border-top: none;
  border-bottom: none;
  position: absolute;
  top: 20;
  text-align: right;
  content: '';
  width: 2%;
  height: 100%;
}

.octopus__item:last-child {
  margin: 0;
}

.octopus__item-dis:before {
  background-image: -webkit-gradient(linear, right top, left top, from(#9fe72f), color-stop(#d7d535), color-stop(#f7c554), color-stop(#ffb877), to(#ffb398));
  background-image: linear-gradient(to left, #9fe72f, #d7d535, #f7c554, #ffb877, #ffb398);
  content: '75%';
  width: 75%;
}

.octopus__item-dis:after {
  content: '60%';
  width: 60%;
}

.octopus__item-task:before {
  background-image: -webkit-gradient(linear, right top, left top, from(#dfe72f), color-stop(#fbd547), color-stop(#ffc564), color-stop(#ffb980), to(#ffb398));
  background-image: linear-gradient(to left, #dfe72f, #fbd547, #ffc564, #ffb980, #ffb398);
  content: '70%';
  width: 70%;
}

.octopus__item-task:after {
  content: '45%';
  width: 45%;
}

.octopus__item-layout:before {
  background-image: -webkit-gradient(linear, right top, left top, from(#2fe73f), color-stop(#add722), color-stop(#e5c541), color-stop(#ffb76d), to(#ffb398));
  background-image: linear-gradient(to left, #2fe73f, #add722, #e5c541, #ffb76d, #ffb398);
  content: '80%';
  width: 80%;
}

.octopus__item-layout:after {
  content: '58%';
  width: 58%;
}

.octopus__item-semantic:before {
  background-image: -webkit-gradient(linear, right top, left top, from(#e7c72f), color-stop(#f9be4d), color-stop(#ffb768), color-stop(#ffb381), to(#ffb398));
  background-image: linear-gradient(to left, #e7c72f, #f9be4d, #ffb768, #ffb381, #ffb398);
  content: '60%';
  width: 60%;
}

.octopus__item-semantic:after {
  content: '35%';
  width: 35%;
}

.octopus__item-photoshop {
  height: 44px;
  margin-bottom: 7px;
}

.octopus__item-photoshop .octopus__desc {
  width: 260px;
  padding-top: 0px;
}

.octopus__item-photoshop:before {
  background-image: -webkit-gradient(linear, right top, left top, from(#9fe72f), color-stop(#d7d535), color-stop(#f7c554), color-stop(#ffb877), to(#ffb398));
  background-image: linear-gradient(to left, #9fe72f, #d7d535, #f7c554, #ffb877, #ffb398);
  content: '75%';
  width: 75%;
}

.octopus__item-photoshop:after {
  content: '40%';
  width: 40%;
}

.octopus__item-strategy:before {
  background-image: -webkit-gradient(linear, right top, left top, from(#e7c72f), color-stop(#f9be4d), color-stop(#ffb768), color-stop(#ffb381), to(#ffb398));
  background-image: linear-gradient(to left, #e7c72f, #f9be4d, #ffb768, #ffb381, #ffb398);
  content: '60%';
  width: 60%;
}

.octopus__item-strategy:after {
  content: '35%';
  width: 35%;
}

.octopus__item-english:before {
  background-image: -webkit-gradient(linear, right top, left top, from(#2fe73f), color-stop(#add722), color-stop(#e5c541), color-stop(#ffb76d), to(#ffb398));
  background-image: linear-gradient(to left, #2fe73f, #add722, #e5c541, #ffb76d, #ffb398);
  content: '80%';
  width: 80%;
}

.octopus__item-english:after {
  content: '50%';
  width: 45%;
}

.octopus__item-algoritm:before {
  background-image: -webkit-gradient(linear, right top, left top, from(#dfe72f), color-stop(#fbd547), color-stop(#ffc564), color-stop(#ffb980), to(#ffb398));
  background-image: linear-gradient(to left, #dfe72f, #fbd547, #ffc564, #ffb980, #ffb398);
  content: '70%';
  width: 70%;
}

.octopus__item-algoritm:after {
  content: '40%';
  width: 40%;
}

.octopus__item-git:before {
  background-image: -webkit-gradient(linear, right top, left top, from(#e7c72f), color-stop(#f9be4d), color-stop(#ffb768), color-stop(#ffb381), to(#ffb398));
  background-image: linear-gradient(to left, #e7c72f, #f9be4d, #ffb768, #ffb381, #ffb398);
  content: '60%';
  width: 60%;
}

.octopus__item-git:after {
  content: '25%';
  width: 25%;
}

.octopus__item-js:before {
  background-image: -webkit-gradient(linear, right top, left top, from(#e7372f), color-stop(#ef5e46), color-stop(#f67c5f), color-stop(#fb987a), to(#ffb398));
  background-image: linear-gradient(to left, #e7372f, #ef5e46, #f67c5f, #fb987a, #ffb398);
  content: '40%';
  width: 40%;
}

.octopus__item-js:after {
  content: '10%';
  width: 10%;
}

.octopus__item-ruby:before {
  background-image: -webkit-gradient(linear, right top, left top, from(#e7372f), color-stop(#ef5e46), color-stop(#f67c5f), color-stop(#fb987a), to(#ffb398));
  background-image: linear-gradient(to left, #e7372f, #ef5e46, #f67c5f, #fb987a, #ffb398);
  content: '45%';
  width: 45%;
}

.octopus__item-ruby:after {
  content: '20%';
  width: 20%;
}

@media (max-width: 1000px) {
  .octopus__head {
    display: none;
  }

  .wrapper {
    width: 90vw;
    margin: 0 auto;
  }

  .octopus {
    width: 100%;
  }

  .octopus__body {
    width: 100%;
  }
}

@media (max-width: 660px) {
  .title__desc {
    margin-top: 40px;
  }

  .wrapper {
    width: 100vw;
  }

  .octopus__body {
    margin-top: 70px;
    width: 100%;
  }

  .octopus__desc {
    margin-top: -90px;
  }

  .octopus__item {
    margin-bottom: 80px;
  }
}

.title__desc {
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 1px 1px 5px black, 0 0 1em rgba(204, 204, 204, 0.1);
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 30px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.arrow {
  display: inline-block;
  position: relative;
  margin: 5px 30px;
}

.arrow:before,
.arrow:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-right: 0;
}

.arrow:nth-child(1) {
  width: 60px;
  height: 10px;
  background: rgba(255, 255, 255, 0.2);
}

.arrow:nth-child(1):after {
  top: -9.5px;
  right: -15px;
  border-left-color: rgba(255, 255, 255, 0.2);
}
