.section-connect
	margin-bottom: 50px
	&_wrap
		padding-left: 65px
		display: inline-block
	&_list
		margin-left: 40px
		display: inline-block
	&_item
		font-family: FontAwesome
		font-style: normal
		font-weight: normal
		text-decoration: inherit
		transition: all 0.8s
		text-decoration: none
		margin-bottom: -7px
		position: relative
		display: inline-block
		height: 29px
		width: 29px
		margin-left: 15px
.section-connect_link_fb, .section-connect_link_vk, .section-connect_link_li
	transition: all .5s
	display: block
	height: 29px
	width: 29px
	background-color: #0077ff
	border: 1px solid rgba(#000, .1	)
	border-radius: 50%
	box-shadow: 2px -2px 10px rgba(0,0,0,0.5)
	&:hover
		background-color: #0077a0
		box-shadow: 2px -2px 20px rgba(0,0,0,0.5)
.section-connect_link_fb-img, .section-connect_link_vk-img, .section-connect_link_li-img
	width: 18px
	height: 18px
	margin-left: 4px
.section-connect_link_vk-img
	margin-top: 1px
.section-connect_link_li-img
	margin-top: -2px
	margin-left: 6px
	width: 17px
	height: 16px
	
// 		&_vk
// 			background-color: #0077ff
// 			&:hover
// 				background-color: #000
// 				color: #fff
// 		&_li
// 			background-color: #0077b5
// 			&:hover
// 				background-color: #000
// .section-connect_link
// 	&_fb
// 		text-decoration: none
// 		transition: all 0.4s
// 		position: relative
// 		color: #fff
// 		&:hover
// 			color: #fff
// 		&::before
// 			content: "\f09a"
// 	  font-family: FontAwesome
// 	  font-style: normal
// 	  font-weight: normal
// 	  text-decoration: inherit
// 	  font-size: 15px
// 	  padding-right: 0.5em
// 	  position: absolute
// 	  top: 3px
// 	  left: 8px
//  &_vk
//  	transition: all 0.4s
//  	position: relative
//  	color: #fff
//  	&:hover
//  		color: #fff
//  	&::before
//  		content: "\f189"
//    font-family: FontAwesome
//    font-style: normal
//    font-weight: normal
//    text-decoration: inherit
//    font-size: 15px
//    padding-right: 0.5em
//    position: absolute
//    top: 2px
//    left: 5px
//  &_li
//  	transition: all 0.4s
//  	position: relative
//  	color: #fff
//  	&:hover
//  		color: #fff
//  	&::before
//  		content: "\f0e1"
//    font-family: FontAwesome
//    font-style: normal
//    font-weight: normal
//    text-decoration: inherit
//    font-size: 15px
//    padding-right: 0.5em
//    position: absolute
//    top: 2px
//    left: 7px





	// &_item
	// 	cursor: pointer
	// 	position: relative
	// 	color: #fff
	// 	margin-right: 10px
	// 	display: inline-block
	// 	height: 27px
	// 	width: 27px
	// 	border-radius: 50%
	// 	&_fb, &_vk
	// 		background-color: #225b99
	// 	&_fb, &_vk, &_li
	// 		&::before
	// 			content: ""
 //    font-family: FontAwesome
 //    font-style: normal
 //    font-weight: normal
 //    text-decoration: inherit
 //    font-size: 15px
 //    padding-right: 0.5em
 //    position: absolute
 //    top: 2px
 //    left: 5px
 //  &_fb::before
 //  	content: "\f09a"
 // 		top: 2px
 // 		left: 8px
 //  &_vk::before
 //  	content: "\f189"
 //  &_li
 //  	background-color: #0077b5
 //  	&::before
 //  		content: "\f0e1"
 //  		top: 1px
 //  		left: 8px
		