.section-skills

.section-skills
	&_personal, &_professional
		padding-left: 70px
		background-color: 
	&_professional
		padding-left: 0px

.section-about__desc-skill
	max-width: 400px
	margin-left: 0
	font-family: 'Roboto', sans-serif
	line-height: 1em
	letter-spacing: -0.05em
	font-size: 17px

.progress
	width: 79%
	height: 5px
	margin: 5px 0 28px 0

.section-skills_professional

	&--item
		margin-top: 23px
		display: flex
		justify-content: space-between
		&:first-child
			margin-top: 40px
	&--desc, &--progress
		display: inline-block
	&--desc
		width: 21%
		text-transform: uppercase
	&--progress
		height: 12px
		width: 70%
.progress-circle
	margin-left: 5px
	display: inline-block
	height: 15px
	width: 15px
	border-radius: 50%
	background-color: #ccc
	&--active
		background-color: #ff4d57


